# Week 2 - Monday Lesson (variable assignment, loops, lists)

## Tasks Today:

1) Int & Float assignments <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Assigning int <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Assigning float <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) Performing Calculations on ints and floats <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Addition <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Subtraction <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Multiplication <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Division <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Floor Division <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Modulo <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Exponential <br>
2) String Input-Output <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) String Assignment <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) print() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) String Concatenation <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) Type Conversion <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) input() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) format() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; g) Old Way (python 2) <br>
3) <b>In-Class Exercise #1</b> <br>
4) If Statements <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) 'is' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) 'in' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) 'not in' keyword <br>
5) <b>In-Class Exercise #2</b> <br>
6) Elif Statements <br>
7) Else Statements <br>
8) <b>In-Class Exercise #3</b> <br>
9) For Loops <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Using 'in' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Continue Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) Break Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) Pass Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) Double For Loops <br>
10) While Loops <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Looping 'While True' <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) While and For Loops Used Together <br>
11) Built-In Functions <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) range() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) len() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) help() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) isinstance() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) abs() <br>
12) Try and Except <br>
13) Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Declaring Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Indexing a List <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) .append() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) .insert() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) .pop() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) .remove() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; g) del() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; h) Concatenating Two Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; i) Lists Within Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; j) Looping Through Lists <br>

### Int & Float Assignments

##### Assigning int

In [1]:
number = 6

print(number)

6

##### Assinging float

In [3]:
numberfloat = 2.3
print (numberfloat)

numberfloat = 7.2
print (numberfloat)

2.3
7.2

#### Performing Calculations on ints and floats

##### Addition

In [6]:
num1 = 2
num2 = 5.4

result = num1 + num2
print(result)

# result += 2
print(result + 2)

7.4
9.4

##### Subtraction

In [10]:
result_diff = 5 - num1
print(result_diff)

result_diff -= 1
print(result_diff)

3
2

##### Multiplication

In [13]:
result_mul = num1 * num2
print(result_mul)

result_mul += 2
print(result_mul)

10.8
12.8

##### Division

In [15]:
result_div = num2 / num1
print(result_div)

2.7

##### Floor Division

In [17]:
result_floor = num2 // num1
print(result_floor)

result_floor //= 2
print(result_floor)

2.0
1.0

##### Modulo

In [20]:
result_mod = num2 % num1
print(result_mod)

result_mod %= 2
print(result_mod)

1.4000000000000004
1.4000000000000004

##### Exponential

In [22]:
square = 5 ** 2
print(square)

square **= 2
print(square)

25
625

### String Input-Output

##### String Assignment

In [23]:
name = "Wendy"
print(name)

Wendy

##### print() <br>
<p>Don't forget about end=' '</p>

In [28]:
print("this is my first name:", name)

print("Full Name ", name, end=" Abu")

this is my first name: Wendy
Full Name  Wendy Abu

##### String Concatenation

In [31]:
first_name = "John" 
last_name = "Smith"
full_name = first_name + " " + last_name
print(full_name)

full_name += " Jr"
print(full_name)

John Smith
John Smith Jr

##### Type Conversion

In [33]:
number = "32"
change_type_num = int(number)
print(number)
print(change_type_num + 1)

32
33

In [41]:
# name = input("What is your name?")
# print("Nice to meet you, " + name)

age = int(input("What is your age?: "))
add_age = age + 5
print(add_age)

What is your age?: 47
52

##### input()

##### format()

In [44]:
age = input("What is your age? ")

result_string = "You are {} {} and you are getting wiser!".format(age, name)
print(result_string)

result_again = f"{age} is a great time in life!!!"
print(result_again)

What is your age? 47
You are 47 Wendy and you are getting wiser!
47 is a great time in life!!!

##### Old Way (python 2)

In [45]:
result_string2 = "You are %s and you look great for your age!" %age
print(result_string2)

You are 47 and you look great for your age!

# In-Class Exercise 1 <br>
<p>Create a format statement that asks for color, year, make, model and prints out the results</p>

In [49]:
name = input("What is your name?")
car_color = input("What color is your car?")
car_year = input("what year is your car?")
car_make = input("what is the make of your car?")
car_model = input("What is the model of your car?")
statement = f"{name}, your car is a {car_color} {car_year} {car_make} {car_model}!"
print(statement)

What is your name?Wendy
What color is your car?blue
what year is your car?2012
what is the make of your car?Nissan
What is the model of your car?Pathfinder
Wendy, your car is a blue 2012 Nissan Pathfinder!

### If Statements

In [62]:
# Available operators: Greater(>), Less(<),Equal(==)
# Greater or Equal(>=), Less or Equal (<=)

# Truth Tree:
# T && F = F
# T && T = T
# T || F = T
# F || T = T
# F || F = F

num1 = 5
num2 = 10
num3 = 0

# if num1 == num2:
#     print("They are equal!")    
# else:
#     print("They are not equal!")
    
if num2 > num1 and num3 > 0:
    print("Num2 is greater")
elif num1 > num2:
    print("Num1 is greater")
else:
    print("They are equal")

They are equal

##### 'is' keyword

In [63]:
num3 = "55"

if num3 is 55:
    print("This is the number/object")

This is the number/object

<>:3: SyntaxWarning: "is" with a literal. Did you mean "=="?
<>:3: SyntaxWarning: "is" with a literal. Did you mean "=="?
C:\Users\Wendy\AppData\Local\Temp\ipykernel_25836\3315153741.py:3: SyntaxWarning: "is" with a literal. Did you mean "=="?
  if num3 is 55:

##### 'in' keyword

In [73]:
char_name = "Frodo Baggins"

if "Baggins" in char_name:
    print("The ring bearer")

The ring bearer

##### 'not in' keyword'

In [75]:
sega_char = "Sonic"

if "a" not in sega_char:
    print("a is NOT here")

a is NOT here

# In-Class Exercise 2 <br>
<p>Ask user for input, check to see if the letter 'p' is in the input</p>

In [86]:
fruit = input("What is your favorite fruit?")

if "p" in fruit:
    print(f"'P' is in {fruit}")
else:
    print(f"'P' is not in {fruit}")

What is your favorite fruit?orange
'P' is not in orange

## Using 'and'/'or' with If Statements

In [89]:
num_11 = 15
num_12 = 3
num_13 = 10
num_14 = 3

if num_11 / 5 == num_12 and num_13 - 7 == num_14:
    print("True and True")
    
if num_11 > num_12 or num_13 == num_14:
    print("True and False")

True and True
True and False

### Elif Statements

In [92]:
first_name = input("What is your name?")

if first_name == "Smith":
    print("The name is Smith.")
elif first_name == "Brandon":
    print("The name is Brandon.")
elif first_name != "Max":
    print("The name is not Max.")
else:
    print("The name is Max")

What is your name?Max
The name is Max

### Else Statements

In [ ]:
# see above

### For Loops

In [93]:
# Syntax:
# for counter in condition

name = ""

for letter in name:
    print(letter)

B
r
a
n
d
o
n

A
p
o
l

##### Using 'in' keyword

In [ ]:
# see above

##### Continue Statement

In [ ]:
# will continue to next iteration

In [98]:
name = "Brandon Apol"

for i in name:
    if i == "a":
        continue
    print(i)

B
r
n
d
o
n

A
p
o
l

##### Break Statement

In [ ]:
# will break out of current loop

In [99]:
for i in range(20):
    if i == 5:
        break
    print(i)

0
1
2
3
4

##### Pass Statement

In [ ]:
# mostly used as a placeholder, and will continue on same iteration

In [100]:
for i in name:
    pass

##### Double For Loops

In [101]:
for i in range(5):
    for j in range(5):
        print("i =", i, "j= ", j )

i = 0 j=  0
i = 0 j=  1
i = 0 j=  2
i = 0 j=  3
i = 0 j=  4
i = 1 j=  0
i = 1 j=  1
i = 1 j=  2
i = 1 j=  3
i = 1 j=  4
i = 2 j=  0
i = 2 j=  1
i = 2 j=  2
i = 2 j=  3
i = 2 j=  4
i = 3 j=  0
i = 3 j=  1
i = 3 j=  2
i = 3 j=  3
i = 3 j=  4
i = 4 j=  0
i = 4 j=  1
i = 4 j=  2
i = 4 j=  3
i = 4 j=  4

### While Loops

In [103]:
# syntax:
# while keyword, condition statement

num = 0

while num < 10:
    print(num)
    num += 1

0
1
2
3
4
5
6
7
8
9

##### Looping 'While True'

In [110]:
game_over = True

while game_over:
    print("infinite loop")
    user_input = input("Would you like to stop? ")
    if user_input == "Yes":
        game_over = False

infinite loop
Would you like to stop? no
infinite loop
Would you like to stop? no
infinite loop
Would you like to stop? Yes

##### While & For Loops Used Together

In [114]:
num = 0

while num < 5:
    print("\nWhile loop iteration: " + str(num))
    
    for i in range(2):
        print("For loop iteration ", str(i + 1))
        
        num += 1

While loop iteration: 0
For loop iteration  1
For loop iteration  2

While loop iteration: 2
For loop iteration  1
For loop iteration  2

While loop iteration: 4
For loop iteration  1
For loop iteration  2

### Built-In Functions

##### range()

In [116]:
# range(start, stop, step)

for i in range(1, 20, 3):
    print(i)

1
4
7
10
13
16
19

##### len()

In [119]:
# name = "Max"

name = input("What is your name? ")

length = len(name)
print(length)

What is your name? Wendy
5

##### help()

In [121]:
# Use this function to view more info about a python function

help(len)

Help on built-in function len in module builtins:

len(obj, /)
    Return the number of items in a container.

##### isinstance()

In [127]:
# Check a variable to find out what object family (or data type) it belongs to
# isintance(var, type)

num = 4

if isinstance(num, int):
    print(f"{num} is an int!")
else: 
    print(f"{num} is a float!")

4 is an int!

##### abs()

In [128]:
# /-5/ = 5 (absolute value)

print(abs(-5))

5

### Try and Except

In [136]:
#  Use this to log out graceful and useful error messages
#  Does not stop the program! 

try:
    input_num = int(input("Guess a number "))
    print("Your number is: " + str(input_num))
except:
    print("That didn't work! Change your input to a number!")

Guess a number two
That didn't work! Change your input to a number!

### Lists

##### Declaring Lists

In [156]:
list_1 = []

names = ["Max", "Cindy", "Kathy", "bob", 'Nate']
print(names)

['Max', 'Cindy', 'Kathy', 'bob', 'Nate']

##### Indexing a List

In [148]:
# list_name[start; stop; step]

# Single Index
print(names[1])

# Print starting at index 1 going to the end
print(names[1:])

# Print starting at the beginning of a list up until a number
print(names[:2])

# Print starting at index 1 and going up BY 2 in each iteration
print(names[1::2])

# Print starting at the back and display in reverse order
print(names[::-1])

Cindy
['Cindy', 'Kathy', 'bob', 'Nate']
['Max', 'Cindy']
['Cindy', 'bob']
['Nate', 'bob', 'Kathy', 'Cindy', 'Max']

##### .append()

In [161]:
names.append("Brandon")
print(names)

['Max', 'Cindy', 'Nate', 'Brandon', 'Brandon', 'Brandon']

##### .insert()

In [164]:
names.insert(3, "Devon")
print(names)

['Max', 'Cindy', 'Nate', 'Devon']

##### .pop()

In [157]:
# Defaults to last value if no parameter is given
# Pop returns the element removed incase you still need it

my_name = names.pop(2)
print(my_name)
print(names)

Kathy
['Max', 'Cindy', 'bob', 'Nate']


##### .remove()

In [163]:
# Value to be removed instead of index
# names.remove("bob")
# print(names)

print(names)

# remove multiple Brandons from list
while "Brandon" in names:
    names.remove("Brandon")
print(names)

['Max', 'Cindy', 'Nate', 'Brandon', 'Brandon', 'Brandon']
['Max', 'Cindy', 'Nate']

##### del()

In [165]:
# Goes by index, rather than value
# Be careful with del, it can cause indexing 
# errors if not used carfully

del(names[1])
print(names)

['Max', 'Nate', 'Devon']

##### Concatenating Two Lists

In [175]:
# Will append two lists together, it will NOT add the values!!!

list_2 = [0, 1, 2]
list_3 = [3, 4, 5]

large_list = list_2 + list_3
print(large_list)

[0, 1, 2, 3, 4, 5]

##### Lists Within Lists

In [174]:
# Lists can hold any kind of other elements! Including other lists!
# They can go as deep as you want, this is called nested lists

names = ["Max", "sam", "Josh", ["Sally", ["Sue", "Jim"], "Tameka"]]

print(names)
print(names[3][1][0])

['Max', 'sam', 'Josh', ['Sally', ['Sue', 'Jim'], 'Tameka']]
Sue

##### Looping Through Lists

In [178]:
# Two ways to loop through a list! One is by index; the other 
# is by using the "in" keyword

# By index
for i in range(len(names)):
    print(names[i])
                
# loop with "in"
for i in names:
    print(i)

Max
sam
Josh
['Sally', ['Sue', 'Jim'], 'Tameka']
Max
sam
Josh
['Sally', ['Sue', 'Jim'], 'Tameka']

## Exercise #1 <br>
<p>Cube Number Test... Print out all cubed numbers up to the total value 1000. Meaning that if the cubed number is over 1000 break the loop.</p>

In [194]:
num = 0

while num ** 3 <= 1000:
    print(num ** 3)
    num += 1

0
1
8
27
64
125
216
343
512
729
1000

## Exercise #2 <br>
<p>Get first prime numbers up to 100</p>

In [192]:
# HINT::
# An else after an if runs if the if didn’t
# An else after a for runs if the for didn’t break

def is_prime(n):
    if n <= 1:
        return False
    for i in range(2, int(n**0.5) + 1):
        if n % i == 0:
            return False
    return True

primes = []
for i in range(2, 101):
    if is_prime(i):
        primes.append(i)
        count += 1

print(primes)

[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47, 53, 59, 61, 67, 71, 73, 79, 83, 89, 97]

# Exercise 3 <br>
<p>Take in a users input for their age, if they are younger than 18 print kids, if they're 18 to 65 print adults, else print seniors</p>

In [183]:
age = int(input("What is your age? "))

if age < 18:
    print("kids")
elif age < 64:
    print("adults")
else: 
    print("seniors")

What is your age? 66
seniors